<mat-form-field appearance="fill">
  <mat-label>Download Speed</mat-label>
  <mat-select
    (selectionChange)="sortTariff('download')"
    [(ngModel)]="filters.selectedDownloadSpeed"
  >
    <mat-option>None</mat-option>
    <mat-option *ngFor="let tariff of tariffs" [value]="tariff.downloadSpeed">
      {{ tariff.downloadSpeed }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Upload Speed</mat-label>
  <mat-select
    (selectionChange)="sortTariff('upload')"
    [(ngModel)]="filters.selectedUploadSpeed"
  >
    <mat-option>None</mat-option>
    <mat-option *ngFor="let tariff of tariffs" [value]="tariff.uploadSpeed">
      {{ tariff.uploadSpeed }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Cost</mat-label>
  <mat-select
    (selectionChange)="sortTariff('cost')"
    [(ngModel)]="filters.selectedCost"
  >
    <mat-option>None</mat-option>
    <mat-option *ngFor="let tariff of tariffs" [value]="tariff.cost">
      {{ tariff.cost | currency : "EUR" : "symbol" }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-table [dataSource]="filteredTariffs">
  <ng-container matColumnDef="id" class="column-first">
    <mat-cell *matCellDef="let tariff" class="column-id">{{
      tariff.id
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-cell *matCellDef="let tariff">{{ tariff.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="speed">
    <td mat-cell *matCellDef="let tariff">
      <ng-container>
        Download
        <div class="speed-box">
          <div class="speed-icon">
            <mat-icon>arrow_downward</mat-icon>
          </div>
          <div class="speed-number">
            {{ tariff.downloadSpeed }} {{ speedUnit }}
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="(Web | async) || (tablet | async)">
        Upload
        <div class="speed-box">
          <div class="speed-icon">
            <mat-icon>arrow_upward</mat-icon>
          </div>
          <div class="speed-number">
            {{ tariff.uploadSpeed }} {{ speedUnit }}
          </div>
        </div>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="benefits">
    <mat-cell *matCellDef="let tariff">
      <ng-container *ngIf="Web | async">
        <ul>
          <li *ngFor="let benefit of tariff.benefits">{{ benefit }}</li>
        </ul>
      </ng-container>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cost">
    <td mat-cell *matCellDef="let tariff">
      <div class="">
        {{ tariff.cost | currency : "EUR" : "symbol" }}
      </div>
      <div class="">
        <div
          class="button-wrapper"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <div class="button-container" fxFlex.gt-sm="auto">
            <button mat-raised-button>To Tariff ></button>
          </div>
        </div>
      </div>
    </td>
  </ng-container>

  <mat-row mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
